@import org.joda.time.LocalDate
@import play.api.libs.json.Json
@import play.api.libs.json.DefaultWrites
@(votes: List[Vote], today: List[Vote], best: (LocalDate, Double))(implicit req: RequestHeader)

@main("Todays votes") {
    <script>
            var labelArray = ["Dårlig", "Greit", "Digg"];
            var bestDate = "@best._1.toString";
            var bestScore = @best._2;
            $(document).ready(function () {
                $('#bad').text(labelArray[0]);
                $('#ok').text(labelArray[1]);
                $('#good').text(labelArray[2]);
            })
    </script>

    <div class="row">
        <h1 class="display-1">Hvordan smakte maten idag?</h1>
    </div>

    <div class="row">
        <br />
    </div>

    <div class="row">
        <div class="col-md-6 pull-down">
            <canvas id="voteChart" class="pull-down"></canvas>
        </div>
        <div class="col-md-6 pull-down">
            <canvas id="avgChart" class="pull-down"></canvas>
        </div>
    </div>

    <div class="row">
        <br />
    </div>

    <div class="row" id="buttons">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
        @helper.form(action = routes.Application.save()) {
            <input type="hidden" name="vote" value="1" />
            <button type="submit" class="btn btn-danger" id="bad"></button>
        }
        </div>
        <div class="col-md-2">
        @helper.form(action = routes.Application.save()) {
            <input type="hidden" name="vote" value="2" />
            <button type="submit" class="btn btn-warning" id="ok"></button>
        }
        </div>
        <div class="col-md-2">
        @helper.form(action = routes.Application.save()) {
            <input type="hidden" name="vote" value="3" />
            <button type="submit" class="btn btn-success" id="good"></button>
        }
        </div>
    </div>

}